<div class="container bg-dark text-white ">
  <h4>Mis turnos</h4>
  <div *ngIf="false">
    <div class="row">
      <div class="col">
        <h4>No tienes turnos pendientes</h4>
      </div>
    </div>

  </div>

  <div *ngIf="true" align=center>

    <div class="row">
      <div class="col">
        <button class="btn btn-dark btn-sm mt-3"><img src="../../../assets/especialidades.jpg" alt=""
            height="100px"></button>
        <div class="centered">Especialidades</div>
      </div>
      <div class="col">
        <button class="btn btn-dark btn-sm mt-3"><img src="../../../assets/especialistas.jpg" alt=""
            height="100px"></button>
        <div class="centered">Especialistas</div>
      </div>


    </div>

    <div [class]="turno.claseCard" style="width: 18rem;" *ngFor="let turno of turnos">
      <div class="card-body">
        <h5 class="card-title">Estado: {{turno.estado}}</h5>
        <b>Fecha:</b> {{turno.fecha}}
        <b>Especialista:</b> {{turno.especialidad.nombre}} {{turno.especialista.apellido}}
        <b>Especialidad:</b> {{turno.especialidad.nombre}}

        <div id="botones" class="row">
      
    
            <div class="col" *ngIf="turno.estado == 'aceptado' || turno.estado ==  'pendiente'">
              <button class="btn btn-sm btn-danger " >Cancelar</button>
            </div>

            <div class="col" *ngIf="turno.estado == 'cancelado' || turno.estado ==  'rechazado'">
              <button class="btn btn-sm btn-primary ">Ver reseña</button>
            </div>

            <div class="col" *ngIf="turno.estado == 'finalizado'">
              <button class="btn btn-sm btn-primary" >Encuesta</button>
            </div>

            <div class="col" *ngIf="turno.estado == 'finalizado'">
              <button class="btn btn-sm btn-primary" >Calificar</button>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>
