<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Clinica Online</title>

  <link href="./registro.component.scss" rel="stylesheet">
</head>

<body class="cont">

  <div
    class="position-relative overflow-hidden  p-md-05 m-md-05 text-center bg-dark stick animate__animated animate__bounceInLeft ">

    <legend class="tituloLogin blanco">Registro de {{tipo}}</legend>

    <div class="container bg-dark animate__animated animate__backInLeft stick">
      <br>
      <div class="form-group text-left">
        <label class="blanco">Seleccione tipo de registro:</label>
        <select class="form-control" id="tipo" [(ngModel)]="tipo">
          <option selected disabled>Tipo de registro</option>
          <option value="paciente">Paciente</option>
          <option value="especialista">Especialista</option>
        </select>
      </div>



      <form class="animate__animated animate__backInDown" novalidate (ngSubmit)="onRegisterPaciente()"
        [formGroup]="pacienteRegForm" *ngIf="this.tipo == 'paciente'">
        <fieldset>

          <div class="form-row form-group">

            <div class="col">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre"
                [class]="isValidPaciente('nombre')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span
                  *ngIf="pacienteRegForm.controls.nombre.errors?.required && pacienteRegForm.controls.nombre.touched">
                  Por favor ingrese su nombre
                </span>
              </div>
            </div>


            <div class="col">
              <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido"
                [class]="isValidPaciente('apellido')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span class="invalid"
                  *ngIf="pacienteRegForm.controls.apellido.errors?.required && pacienteRegForm.controls.apellido.touched">El
                  apellido es requerido
                </span>
              </div>
            </div>
          </div>


          <div class="form-row form-group">
            <div class="col">
              <input type="number" class="form-control" id="edad" placeholder="Edad" formControlName="edad"
                [class]="isValidPaciente('edad')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span *ngIf="pacienteRegForm.get('edad').errors?.required">
                  Por favor ingrese su edad
                </span>
              </div>
            </div>


            <div class="col">
              <input type="number" class="form-control" id="dni" placeholder="DNI" formControlName="dni"
                [class]="isValidPaciente('dni')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span *ngIf="pacienteRegForm.get('dni').errors?.required">
                  Por favor ingrese su documento
                </span>

              </div>
            </div>
          </div>


          <div class="form-group">
            <input type="text" class="form-control" id="obraSocial" placeholder="Obra Social"
              formControlName="obraSocial" [class]="isValidPaciente('obraSocial')" />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="pacienteRegForm.get('obraSocial').errors?.required">
                Por favor ingrese su Obra Social
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="correo" class="form-control" id="correo" placeholder="Correo" formControlName="correo"
              [class]="isValidPaciente('correo')" />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="pacienteRegForm.get('correo').errors?.required">
                Por favor ingrese su correo
              </span>
              <span *ngIf="pacienteRegForm.get('correo').errors?.pattern">
                Debe ser una direccion valida
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="clave" placeholder="Clave" formControlName="clave"
              [class]="isValidPaciente('clave')" />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="pacienteRegForm.get('clave').errors?.required">
                Por favor ingrese su clave
              </span>
            </div>
          </div>


          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Foto</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" (change)="onUploadPaciente($event, 1)" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Sube foto uno</label>
            </div>
          </div>


     
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Foto</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="onUploadPaciente($event, 2)"
                  id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                <label class="custom-file-label" for="inputGroupFile02">Sube foto dos</label>
              </div>
            </div>
        


          <button type="submit" class="btn btn-primary botonesLanding animate__animated animate__backInLeft "
            [disabled]="pacienteRegForm.invalid">
            Registrarse
          </button>
          <button type="button" class="btn btn-success botonesLanding animate__animated animate__backInRight"
            routerLink="../login">
            Iniciar sesion
          </button>
          <br>
        </fieldset>
      </form>





      <form class="animate__animated animate__backInDown" novalidate [formGroup]="especialistaRegForm"
        *ngIf="this.tipo == 'especialista'">
        <fieldset>

          <div class="form-row form-group">
            <div class="col">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre"
                [class]="isValidEspecialista('nombre')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span
                  *ngIf="especialistaRegForm.controls.nombre.errors?.required && especialistaRegForm.controls.nombre.touched">
                  Por favor ingrese su nombre
                </span>
              </div>
            </div>


            <div class="col">
              <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido"
                [class]="isValidEspecialista('apellido')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span class="invalid"
                  *ngIf="especialistaRegForm.controls.apellido.errors?.required && especialistaRegForm.controls.apellido.touched">El
                  apellido es requerido
                </span>
              </div>
            </div>
          </div>

          <div class="form-row form-group">
            <div class="col">
              <input type="number" class="form-control" id="edad" placeholder="Edad" formControlName="edad"
                [class]="isValidEspecialista('edad')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span *ngIf="especialistaRegForm.get('edad').errors?.required">
                  Por favor ingrese su edad
                </span>
              </div>
            </div>


            <div class="col">
              <input type="number" class="form-control" id="dni" placeholder="DNI" formControlName="dni"
                [class]="isValidEspecialista('dni')" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span *ngIf="especialistaRegForm.get('dni').errors?.required">
                  Por favor ingrese su documento
                </span>

              </div>
            </div>
          </div>


          <div class="form-group">
            <input type="correo" class="form-control" id="correo" placeholder="Correo" formControlName="correo"
              [class]="isValidEspecialista('correo')" />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="especialistaRegForm.get('correo').errors?.required">
                Por favor ingrese su correo
              </span>
              <span *ngIf="especialistaRegForm.get('correo').errors?.pattern">
                Debe ser una direccion valida
              </span>
            </div>
          </div>



          <div class="form-group">
            <input type="password" class="form-control" id="clave" placeholder="Clave" formControlName="clave"
              [class]="isValidEspecialista('clave')" />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="especialistaRegForm.get('clave').errors?.required">
                Por favor ingrese su clave
              </span>
            </div>
          </div>

          <div class="form-row form-group">

            <div class="col">
              <input placeholder="Especialidad" formControlName="especialidad" id="esp" type="text" class="form-control"
                id="especialidades" placeholder="Especialidad" [class]="isValidEspecialista('especialidades')"
                (keyup.enter)="AgregarEspecialidades()" />
              <div class="invalid-feedback" style="font-family: sans-serif;">
                <span *ngIf="especialistaRegForm.get('especialidades').errors?.required">
                  Por favor ingrese su Obra Social
                </span>
              </div>
            </div>


            <div class="col">
              <div class="especialidad">
                <button class="btn btn-primary btn-block" (click)="AgregarEspecialidades()">+</button>
                <div class="datosProfesional">
                </div>
              </div>
            </div>
          </div>

          <div class="listadoEsp">
            <p class="titEsp blanco">Especialidades: </p>
            <div class="espItem" *ngFor="let item of especialidades">
              <span class="nombreEsp blanco" (click)="BorrarEspecialidades(item)">{{item}} <img
                  src="../../../assets/x.png" height="16px"></span>

            </div>
          </div>

          <div class="form-group mt-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Foto</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="onUploadEspecialista($event)"
                  id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                <label class="custom-file-label" for="inputGroupFile03">Sube una foto</label>
              </div>
            </div>
          </div>


          <button type="submit" class="btn btn-primary botonesLanding animate__animated animate__backInLeft"
            (click)="onRegisterEspecialista()" [disabled]="especialistaRegForm.invalid">
            Registrarse
          </button>

          <button type="button" class="btn btn-success botonesLanding animate__animated animate__backInRight "
            routerLink="../login">
            Iniciar sesion
          </button>
          <br>
        </fieldset>
      </form>


    </div>
  </div>
















</body>

<footer class="container bg-dark">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; UTN 2021 - Sinisterra Luciano</small>
    </div>

  </div>
</footer>



<div id="scripts">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script>
    window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')

  </script>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>
