<body class="cont">

  <div align=left>

    <button (click)="salir()" class="btn btn-danger ml-3 mt-2 mb-2">SALIR </button>
    <button (click)="miPerfil()" class="btn btn-info  ml-5 mt-2 mb-2">Mi Perfil </button>
  </div>



  <div class="position-relative overflow-hidden text-center bg-dark menu">

    <div class="container bg-dark animate__animated animate__bounceInLeft">

      <h3 class="display font-weight-normal blanco  animate__animated animate__backInDown mt-2">Acciones:</h3>

    </div>

    <div class="col justify-content-center mt-2">
      <div class=col>

        <a class="btn btn-outline-warning botonesLanding animate__animated animate__backInLeft mb-5"
          (click)="misTurnos()">Mis turnos</a>

        <a class="btn btn-outline-primary botonesLanding animate__animated animate__backInLeft mt-2 mb-5"
          (click)="sacarTurno()">Sacar
          turno</a>
      </div>
    </div>
  </div>
<br>

  <div class="container" *ngIf="verMisTurnos">

    <div class="row">

      <div class="col-sm-6">
        <app-mis-turnos></app-mis-turnos>
      </div>
    </div>

  </div>


  <div class="col" *ngIf="verSacarTurno">
    <div class="container bg-dark text-white" style="max-width: 950px;">

      <h4>Solicitar turno</h4>
      <app-sacar-turno></app-sacar-turno>
    </div>


  </div>

    <div *ngIf="verMiPerfil" align=center>

      <app-mi-perfil></app-mi-perfil>

    </div>





</body>
