<body class="cont">

  <div align=left>

    <button (click)="salir()" class="btn btn-danger ml-3 mt-2 mb-2">SALIR </button>
    <button (click)="miPerfil()" class="btn btn-info  ml-5 mt-2 mb-2">Mi Perfil </button>
  </div>



  <div class="container">

    <div class="row">

      <div class="col-sm-6">
    <app-mis-turnos></app-mis-turnos>
      </div>





      <div class="col-sm-6">
        <div class="container bg-dark text-white">

          <h4>Solicitar turno</h4>


          <app-sacar-turno></app-sacar-turno>

        </div>

      </div>


     

    </div>

    <div *ngIf="verMiPerfil">

      <app-mi-perfil></app-mi-perfil>

    </div>


  </div>



</body>
