<div class="form-group text-center">
  <div class="row text-center">
    <div class="col-6">
      <img src="../../../assets/especialistas.jpg" height="100" width="130" class="imgBtn" (click)="especilistasListar()" appMouseHoverImagen><span class="centered">Especialistas</span>
    </div>

    <div class="col-6">
      <img src="../../../assets/especialidades.jpg" height="100" width="130" class="imgBtn" (click)="especilidadesListar()" appMouseHoverImagen><span class="centered">Especialidades</span>
    </div>
  </div>



  <div class="row" id="filtros" *ngIf="filtroEspecialidades">

    <div class="grid">
      <div *ngFor="let especialidad of listaEspecialidades">
        <div class="card bg-dark border-white mt-1 ml-1" style="width: 8em; height: 9em;"
          (click)="selccionarEspecialidad(especialidad)" appMouseHover>
          <img class="card-img-top imgCard" src="{{especialidad.foto}}" width="10px" alt="Card image cap" >
          <div class="card-body">
            <h6 class="card-title">{{especialidad.nombre}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div *ngIf="filtroEspecialistas">
  <div class="row" id="filtros">
    <div class="grid">
      <div *ngFor="let especialista of listaEspecialistaPorEspecialidad">
        <div class="card bg-dark border-white mt-1 ml-2" style="width: 8em; height: 9em;"
          (click)="selccionarEspecialista(especialista)" appMouseHover>
          <img class="card-img-top imgCard" src="{{especialista.foto}}" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">{{especialista.nombre}} {{especialista.apellido}} </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>



<div *ngIf="especialistasConEspecialidades">

  <div class="row" id="filtros">
    <div class="grid">
      <div *ngFor="let especialista of listaEspecialistasConEspecialidad">
        <div class="card bg-dark border-white mt-1 ml-2" style="width: 8em; height: 11em;"
          (click)="selccionarEspecialistaConEspecialidad(especialista)" appMouseHover>
          <img class="card-img-top imgCard" src="{{especialista.foto}}" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">{{especialista.nombre}} {{especialista.apellido}} </h6>
            <h6>{{especialista.especialidades}} </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


<div *ngIf="verTurnos">
  <div class="row gridTurnos" id="filtros">

    <button class="btn btn-warning ml-1 mb-1 col " *ngFor="let turno of listaTurnos"
      (click)="seleccionarTurno(turno)"><b>
        {{turno}}</b> </button>

  </div>
</div>
