<div class="form-group text-center">

  <div class="row" id="filtros" *ngIf="!(filtroEspecialistas && filtroEspecialidades)">


    <div class="col">

        <div class="row">
            <div align=left>
                <button class="btn btn-danger btn-sm ml-2 mb-2" (click)="atras()" *ngIf="filtroEspecialistas">Atras</button>
              </div>
            </div>

      <div *ngIf="filtroEspecialidades">
        <table class="table table-bordered table-hover table-dark tablaUsers">

          <thead>
            <th>Especialidad</th>
            <th>Foto</th>
          </thead>

          <tbody>
            <tr *ngFor="let especialidad of listaEspecialidades" (click)="selccionarEspecialidad(especialidad)">
              <td>{{especialidad.nombre}}</td>
              <td> <img src="{{especialidad.foto}}" height="70"></td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>


</div>

<div *ngIf="filtroEspecialistas && !especialistaSeleccionado">
  <table class="table table-bordered table-hover table-dark tablaUsers">

    <thead>
      <th>Doctor</th>
      <th>Foto</th>
    </thead>

    <tbody>
      <tr *ngFor="let especialista of listaEspecialistaPorEspecialidad" (click)="selccionarEspecialista(especialista)">
        <td>{{especialista.nombre}} {{especialista.apellido}}</td>
        <td> <img src="{{especialista.foto}}" height="70"></td>

      </tr>
    </tbody>

  </table>
  <br>

</div>


<div *ngIf="especialistaSeleccionado" class="listadoTurnos">



  <button class="btn btn-block btn-warning" *ngFor="let turno of listaTurnos" (click)="seleccionarTurno(turno)">{{turno}} </button>



</div>

