<div class="container bg-dark animate__animated animate__bounceInLeft submenu">
  <div class="row">

    <div class="col">
      <button class="btn btn-primary mt-2 mb-2" (click)="listarPacientes()">Pacientes</button>
    </div>

    <div class="col">
      <button class="btn btn-primary mt-2 mb-2" (click)="listarEspecialistas()">Especialistas</button>
    </div>


    <div class="col">
      <button class="btn btn-primary mt-2 mb-2"  (click)="listarAdministradores()">Administradores</button>
    </div>

  </div>

</div>
<br>

<div *ngIf="listarAdm">
  <table class="table table-bordered table-hover table-dark tablaUsers">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Edad</th>
      <th>Foto</th>


    </thead>
    <tbody>
      <tr *ngFor="let unUser of listaAdministradores">
        <td>{{unUser.nombre}}</td>
        <td>{{unUser.apellido}}</td>
        <td>{{unUser.dni}}</td>
        <td>{{unUser.edad}}</td>
        <td> <img src="{{unUser.foto1}}" alt="Ver foto" height="65"></td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="listarEsp">
  <table class="table table-bordered table-hover table-dark tablaUsers">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Edad</th>
      <th>Especialidades</th>
      <th>Foto</th>


    </thead>
    <tbody>
      <tr *ngFor="let unUser of listaEspecialistas">
        <td>{{unUser.nombre}}</td>
        <td>{{unUser.apellido}}</td>
        <td>{{unUser.dni}}</td>
        <td>{{unUser.edad}}</td>
        <td>{{unUser.especialidades}}</td>
        <td> <img src="{{unUser.foto}}" alt="Ver foto" height="65"></td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="listarPac">
  <table class="table table-bordered table-hover table-dark tablaUsers">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Edad</th>
      <th>Obra Social</th>
      <th>Foto</th>
      <th>Foto</th>


    </thead>
    <tbody>
      <tr *ngFor="let unUser of listaPacientes">
        <td>{{unUser.nombre}}</td>
        <td>{{unUser.apellido}}</td>
        <td>{{unUser.dni}}</td>
        <td>{{unUser.edad}}</td>
        <td>{{unUser.obraSocial}}</td>
        <td> <img src="{{unUser.foto1}}" alt="Ver foto" height="65"></td>
        <td> <img src="{{unUser.foto2}}" alt="Ver foto" height="65"></td>


      </tr>
    </tbody>
  </table>
</div>
