<br>
<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="!timer">
  <span class="sr-only"></span>

  <br>
</div>



<div *ngIf="timer">
  <table class="table table-bordered table-dark tablaUsers mt-3 tabla">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Edad</th>
      <th>Foto</th>


    </thead>
    <tbody>
      <tr>
        <td>{{usuarioActivo.nombre}}</td>
        <td>{{usuarioActivo.apellido}}</td>
        <td>{{usuarioActivo.dni}}</td>
        <td>{{usuarioActivo.edad}}</td>
        <td> <img src="{{usuarioActivo.foto || usuarioActivo.foto1}}" alt="Ver foto" width="60"></td>

      </tr>
    </tbody>
  </table>

<div *ngIf="usuarioActivo.perfil == 'especialista'">
  <button class="btn btn-dark mt-2 mb-1" (click)="verHorarios()">Mis horarios</button>
</div>

  <div *ngIf="misHorarios">


    <div *ngIf="true">
      <table class="table table-bordered  table-hover table-dark tablaUsers mt-1 tabla">
        <thead>
          <th>Seleccione una de sus especialidaes:</th>


        </thead>
        <tbody>
          <tr *ngFor="let unaEsp of listaEspecialidadesDelEspecialista" (click)="especialidadSeleccionada(unaEsp)">
            <td>{{unaEsp.nombre}}</td>
            <td> <img src="{{unaEsp.foto}}" alt="Ver foto" width="45"></td>
          </tr>
        </tbody>
      </table>





      <div class="container bg-dark text-white mt-2 " style="max-width: 390px;" *ngIf="especialidadActiva">

        <div class="row">
          <div class="col">
            <h4>Horarios para <b>{{especialidadActiva.nombre}}</b></h4>
          </div>


          <div class="col">
            <button class="btn btn-success mr-5 mt-2" (click)="agregar()">Guardar</button>
          </div>
        </div>
      

    

        <table class="table table-dark tablaUsers mt-3">

          <thead>
            <th>L</th>
            <th>M</th>
            <th>M</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </thead>
          <tbody>

            <tr>
              <td> <button class="btn btn-sm" type="button" id="1" (click)="agregarQuitarDia(1)"  [ngClass]="toco1 ? 'success' : 'danger'">❌</button></td>
              <td> <button class="btn btn-sm" type="button" id="2" (click)="agregarQuitarDia(2)" [ngClass]="toco2 ? 'success' : 'danger'">❌</button></td>
              <td> <button class="btn btn-sm" type="button" id="3" (click)="agregarQuitarDia(3)" [ngClass]="toco3 ? 'success' : 'danger'">❌</button>
              </td>
              <td> <button class="btn btn-sm" type="button" id="4" (click)="agregarQuitarDia(4)" [ngClass]="toco4 ? 'success' : 'danger'">❌</button></td>
              <td> <button class="btn btn-sm" type="button" id="5" (click)="agregarQuitarDia(5)" [ngClass]="toco5 ? 'success' : 'danger'">❌</button>
              </td>
              <td> <button class="btn btn-sm" type="button"id="6" (click)="agregarQuitarDia(6)" [ngClass]="toco6 ? 'success' : 'danger'">❌</button></td>
            </tr>
            <tr>
              <td> </td>
              <td> <button class="btn btn-sm" type="button" [ngClass]="eligio1 ? 'success' : 'danger'" (click)="agregarQuitarHorario('todoElDia')">08 a
                  19</button></td>
              <td> <button class="btn btn-sm" type="button"  [ngClass]="eligio2 ? 'success' : 'danger'" (click)="agregarQuitarHorario('soloManana')">08 a
                  12</button></td>
              <td> <button class="btn btn-sm" type="button" [ngClass]="eligio3 ? 'success' : 'danger'" (click)="agregarQuitarHorario('soloTarde')">12 a
                  16</button></td>
              <td> <button class="btn btn-sm" type="button" [ngClass]="eligio4 ? 'success' : 'danger'" (click)="agregarQuitarHorario('tardeNoche')">16 a
                  19</button></td>
            </tr>

          </tbody>
        </table>

    </div>

    <br>
  </div>
