<body class="cont">
  <div align=left>
    <button (click)="salir()" class="btn btn-danger ml-2 mt-2">SALIR </button>
  </div>

  <div class="position-relative overflow-hidden  p-md-05 m-md-05 text-center bg-dark menu">

    <div class="container bg-dark animate__animated animate__bounceInLeft">

      <h3 class="display font-weight-normal blanco  animate__animated animate__backInDown mt-3">Acciones:</h3>

    </div>

    <div class="col justify-content-center mt-5">

      <div class=col>

        <a (click)="mostrarMiPerfil()" class="btn btn-outline-warning botonesLanding animate__animated animate__backInLeft mb-5">Mi perfil</a>

      </div>

      <div class=col>
        <a class="btn btn-outline-primary botonesLanding  animate__animated animate__backInRight mb-5">B</a>
      </div>
    </div>
  </div>


  <div *ngIf="verPerfil">
    <h1>Perfil</h1>

    
  </div>



</body>
